doctype html
html
head
title Tiedot
meta(charset='utf-8')
title test
link(rel='stylesheet', type='text/css', href='stylesheets/mainstyle.css')


body
h1 Galleria

.linkit
	span
	a(href='/') Etusivu
	
	a(href='/add') Lisää tuote

	a(href='/tiedot') Tiedot ja ohjeet

	a(href='/galleria') Galleria
	

			

.maincontainer
	
	.gallery
		
			a(target='_blank' href=('images/violetti_ankka.png'))
			img(src='images/violetti_ankka.png' alt='Ankka' width='300' height='200')
			
			a(target='_blank' href=('images/Sininen_ankka.png'))
			img(src='images/Sininen_ankka.png' alt='Ankka' width='300' height='200')
		
			a(target='_blank' href=('images/oranssi_ankka.png'))
			img(src='images/oranssi_ankka.png' alt='Ankka' width='300' height='200')
		
			a(target='_blank' href=('images/vihrea_ankka.png'))
			img(src='images/vihrea_ankka.png' alt='Ankka' width='300' height='200')
		
		
			