doctype html
html
head
meta(charset='utf-8')
title Kumiankkavuokraus
link(rel='stylesheet', type='text/css', href='stylesheets/mainstyle.css')


body
h1 Kumiankkavuokraamo

.linkit
	span
	a(href='/add') Lisää tuote

	a(href='/tiedot') Tiedot ja ohjeet

	a(href='/galleria') Galleria
	
	a(target='_blank' href=('images/ankkalogo.png'))
			img(src='images/ankkalogo.png' alt='Ankka' width='35' height='35')
			

.maincontainer
	
	h2 Vuokrattavat ankat:
	h3 Koko / Tyyppi / Väri

	ul
	
		li#ankat
		
	
			each item in rows
				table= item.Ankka
				br


				
	
		li#varit
	
	
			for item in rows
				table= item.Color
				br
				
				
		li#tyypit
	
	
			each item in rows
				table= item.Tyyppi
				br



		
		