doctype html
html
head
title Tiedot
meta(charset='utf-8')
title test
link(rel='stylesheet', type='text/css', href='stylesheets/mainstyle.css')


body
h1 Tiedot ja ohjeet

.linkit
	span
	
	a(href='/') Etusivu
	
	a(href='/add') Lisää tuote

	a(href='/tiedot') Tiedot ja ohjeet

	a(href='/galleria') Galleria
			

.maincontainer
		p Kyseisen sivuston tarkoitus on tarjota alusta ihmisille, jotka haluavat vuokrata oman kumiankkansa muiden käyttöön. Oman ankkasi voit lisätä alla olevasta linkistä!
		
		a(href='/add') Lisää oma ankkasi!
		
		h4 Yhteystiedot
		p Puhelin: 040######
		p Sähköpostiosoite: ankkavuokraamo@gmail.com
		p Osoite: Joukahaisenkatu 84
		
			